.footer-style {
  background-color: #eeeeee;
  color: #757575;

  .footer-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .footer-contact {
      display: flex;
      flex-direction: column;

      .footer-icon {
        color: #757575;
        font-size: 23px;

        &:nth-child(1) {
          margin-bottom: 4px;

        }
        &:nth-child(2) {
          margin-top: 4px;
        }

        &:hover {
          color: black;
        }
      }
    }
    .footer-info {
      font-size: 17px;

      a {
        color: #757575;
        &:hover {
          color: black;
          font-weight: 500;
        }
      }
    }
  }
}


