// https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226
$palette-dark: #001219;
$palette-dark-blue: #005F73;
$palette-blue: #0A9396;
$palette-light-blue: #94D2BD;
$palette-beige: #E9D8A6;
$palette-light-orange: #EE9B00;
$palette-orange: #CA6702;
$palette-dark-orange: #BB3E03;
$palette-light-red: #AE2012;
$palette-red: #9B2226;

// https://colorpalettes.net/color-palette-3333/
$palette-background1: #e9e9e9;
$palette-background2: #f4ece2;

$text-form: black;